:root {
	--page-padding: 2em;
	--theme-blue: #00809d;
	--navbar-height: 8em;
}

html {
	display: flex;
	flex: 1;
	min-height: 100%;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	/* background-color: var(--theme-blue); */
	display: flex;
	flex-direction: column;
	flex: 1;
}

.navbar {
	padding: 0 var(--page-padding);
	background-color: var(--theme-blue);
	height: var(--navbar-height);
	display: flex;
	align-items: center;

	label {
		margin-right: 0.2em;
		font-size: 2em;
	}

	input {
		font-size: 1.8em;
		height: 1.4em;
		color: var(--theme-blue);
		width: 20em;
		padding-left: 0.4em;
	}
}

.contentContainer {
	padding: 1em var(--page-padding);
	background-color: #fcf8dd;
	display: flex;
	flex-direction: column;
	flex: 1;
	/* backdrop-filter: blur(2em); */
	height: 100%;
	position: relative;
}

.filter {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(4px);
}

.content {
	margin: var(--page-padding);
	padding: 1em;
	background-color: white;
	border-radius: 1em;
	opacity: 0.8;
}
